/** Semantically-named border properties. */
:root {
  --color-border: var(--color-grey-700);
  --border-width-thin: 1px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-border: var(--color-grey-200);
  }
}
