/** Semantically-named shadow properties. */
:root {
  /* Shadows */
  --shadow-offset-y: 4px;
  --shadow-blur: 6px;

  /* Semantic Shadows */
  --shadow-base: 0 var(--shadow-offset-y) var(--shadow-blur) var(--color-black-alpha-10);
  --shadow-raised: 0 var(--shadow-offset-y) var(--shadow-blur) var(--color-black-alpha-30);
}
