# Disables [hoisting](https://pnpm.io/npmrc#hoist). Prevents transitive pnpm deps from being
# available, across the repository, effectively extending strict deps to pnpm, meaning if a pnpm
# dep is needed it must be declared as a top-level dep in packages.json.
hoist=false