{{/*
Composite Navigation
Renders primary navigation and conditionally renders sub-navigation.

Params:
* . (Page Context): The current page context.
*/}}
<div class="nav-coordinator">


  {{ partial "navigation/nav-primary.html" . }}

  {{/* Gallery Sub-navigation */}}

  {{ if hasPrefix .RelPermalink "/gallery/" }}
  {{ $subpages := slice
  (dict "name" "Highlights" "link" "/gallery/highlights/")
  (dict "name" "Curated" "link" "/gallery/curated/")
  (dict "name" "Palettes" "link" "/gallery/palettes/")
  (dict "name" "Chronological" "link" "/gallery/chronological/")
  }}
  {{ partial "navigation/nav-secondary.html" (dict
  "context" . "title"
  "Gallery" "pages" $subpages)
  }}
  {{ end }}

  {{/* Journal Sub-navigation */}}
  {{ if hasPrefix .RelPermalink "/journal/" }}
  {{ $subpages := slice
  (dict "name" "Highlights" "link" "/journal/highlights/")
  (dict "name" "Topics" "link" "/journal/topics/")
  (dict "name" "Series" "link" "/journal/series/")
  (dict "name" "Genres" "link" "/journal/genres/")
  (dict "name" "Drafts" "link" "/journal/drafts/")
  (dict "name" "Chronological" "link" "/journal/chronological/")
  }}
  {{ partial "navigation/nav-secondary.html" (dict
  "context" .
  "title" "Journal"
  "pages" $subpages)
  }}
  {{ end }}

  {{/* Repository Sub-navigation */}}
  {{ if hasPrefix .RelPermalink "/repository/" }}
  {{ $subpages := slice
  (dict "name" "Highlights" "link" "/repository/highlights/")
  (dict "name" "Location" "link" "/repository/locations/")
  (dict "name" "Technology" "link" "/repository/technologies/")
  }}
  {{ partial "navigation/nav-secondary.html" (dict
  "context" .
  "title" "Repository"
  "pages" $subpages)
  }}
  {{ end }}



  <script src="/js/navigation.js"></script>
</div>