{{/*
Gallery Item Contextual Navigation Menu

Renders based on the item's metadata (series and subjects).

Parameters:
* . (Page Context): The current page context.
*/}}

{{/* For ease of reference in nested blocks.*/}}
{{ $itemKey := .Params.key }}

{{/* Data gathering - Find series and position in series */}}

{{ $series := false }}
{{ $itemPositionInSeries := -1 }}

{{ range site.Data.gallery.series }}
{{ if in .items $itemKey }}
{{ $series = . }}
{{ range $i, $k := .items }}
{{ if eq $k $itemKey }}
{{ $itemPositionInSeries = $i }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{/* Data gathering - Find subject */}}

{{ $subject := false }}
{{ range site.Data.gallery.subjects }}
{{ $subj := . }}
{{ $found := false }}
{{ range .series }}
{{ $sKey := . }}
{{ range site.Data.gallery.series }}
{{ if and (eq .key $sKey) (in .items $itemKey) }}
{{ $found = true }}
{{ end }}
{{ end }}
{{ end }}
{{ if $found }}
{{ $subject = $subj }}
{{ end }}
{{ end }}

{{/* Holds nav items while they are being constructed.*/}}
{{ $navItems := slice }}

{{/* Item construction - Previous in series button */}}

{{ if and $series (gt $itemPositionInSeries 0) }}
{{ $prevKey := index $series.items (sub $itemPositionInSeries 1) }}
{{ $navItems = $navItems | append (dict
    "name" "< Previous"
    "link" (printf "/gallery/item/%s" $prevKey)
) }}
{{ end }}

{{/* Item construction - Full series button */}}

{{ if $series }}
{{ $navItems = $navItems | append (dict
    "name" (printf "More in Series (%s)" $series.title)
    "link" (printf "/gallery/series/%s/" $series.key)
) }}
{{ end }}

{{/* Item construction - Subject button */}}

{{ if $subject }}
{{ $navItems = $navItems | append (dict
    "name" (printf "More in Subject (%s)" $subject.title)
    "link" (printf "/gallery/subjects#%s" ($subject.key | urlize))
) }}
{{ end }}

{{/* Item construction - Next in series button */}}

{{ if and $series (lt $itemPositionInSeries (sub (len $series.items) 1)) }}
{{ $nextKey := index $series.items (add $itemPositionInSeries 1) }}
{{ $navItems = $navItems | append (dict
    "name" "Next >"
    "link" (printf "/gallery/item/%s" $nextKey)
) }}
{{ end }}

{{/* Delegate to renderer */}}
{{ partial "navigation/nav-contextual-actual.html" (dict
    "pages" $navItems
) }}
