p {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-small);
  letter-spacing: var(--letter-spacing-small);
  vertical-align: baseline;
}

p * {
  vertical-align: baseline;
}
