/** Mapping from literal color hex codes to descriptive names. */
:root {
  /* Primitives Colors (Pure Variations) */
  --color-pure-white: #fff;
  --color-pure-black: #000;
  --color-transparent: transparent;

  /* Primitive Colors (Shade Variations) */
  --color-blue-400: #60a5fa;
  --color-blue-500: #2563eb;
  --color-muted-blue-400: #7a9cc6;
  --color-muted-blue-500: #4a6fa5;
  --color-grey-50: #f5f5f5;
  --color-grey-100: #e0e0e0;
  --color-grey-200: #ddd;
  --color-grey-300: #d0d0d0;
  --color-grey-400: #999;
  --color-grey-500: #555;
  --color-grey-600: #444;
  --color-grey-700: #333;
  --color-grey-800: #252525;
  --color-grey-850: #222;
  --color-grey-900: #1e1e1e;
  --color-grey-950: #121212;

  /* Primitive Colors (Alpha Variations) */
  --color-black-alpha-10: color-mix(in srgb, var(--color-pure-black), transparent 90%);
  --color-black-alpha-30: color-mix(in srgb, var(--color-pure-black), transparent 70%);
}
