{{/* Generates a page under /gallery/item for each gallery item. */}}

{{ range site.Data.gallery.items }}

  {{ $title := .title }}
  {{ if .year }}
    {{ $title = printf "%s (%s)" .title (printf "%.0f" .year) }}
  {{ end }}

  {{ $.AddPage (dict
      "kind" "page"
      "type" "gallery"
      "layout" "item"
      "path" .key
      "title" $title
      "params" (dict "key" .key))
  }}
{{ end }}
