{{/* Generates a page under /career/item for each career item. */}}

{{ range site.Data.about.career }}

{{ $.AddPage (dict
    "kind" "page"
    "type" "about"
    "layout" "career-item"
    "path" .key
    "title" .organisation
    "params" (dict "key" .key))
}}

{{ end }}
