{{/* Generates a page for every series in data/gallery/series.json */}}

{{ range site.Data.gallery.series }}
  {{ $.AddPage (dict
      "kind" "page"
      "type" "gallery"
      "layout" "series"
      "path" .key
      "title" .title
      "description" .description

      "params" (dict "key" .key))
  }}
{{ end }}
