/** Styling for a card that displays a single repository item. */

.repository-card .content-wrapper {
  padding: var(--gap-medium);
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--gap-medium);
}
