<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ .Description | default .Site.Params.description }}" />

  <title>{{ .Site.Title }} | {{ .Title }}</title>

  <link rel="icon" type="image/x-icon" href="/decorations/people/jack.png">
  <link rel="stylesheet" href="/css/manifest.css" />
</head>

<body>
  {{ partial "root/skip-link.html" . }}

  <div class="root page">
    {{ partial "root/header.html" . }}

    <main class="root main" id="main">{{ block "main" . }} {{ end }}</main>

    {{ partial "root/footer.html" . }}
  </div>
</body>

</html>