{{/*
Gallery Chronological Layout

Parameters: None
*/}}

{{ define "main" }}

{{ $itemMap := dict }}
{{ range site.Data.gallery.items }}
{{ $itemMap = merge $itemMap (dict .key .) }}
{{ end }}

{{ $itemsByYear := dict }}
{{ range site.Data.gallery.items }}
{{ $yearKey := printf "%v" (int .year) }}
{{ $dateStr := .date | default (printf "%d-01-01" (int .year)) }}
{{ $itemWithSort := merge . (dict "sortDate" $dateStr) }}

{{ $items := index $itemsByYear $yearKey | default slice }}
{{ $items = $items | append $itemWithSort }}
{{ $itemsByYear = merge $itemsByYear (dict $yearKey $items) }}
{{ end }}

{{ $years := slice }}
{{ range $k, $v := $itemsByYear }}
{{ $years = $years | append $k }}
{{ end }}
{{ $yearsSorted := sort $years "value" "desc" }}

<div class="content root wide-root">
  {{ range $year := $yearsSorted }}
  {{ $expandByDefault := index site.Data.gallery.behaviour "chronological" }}
  {{ if not $expandByDefault }}{{ errorf "Missing expansion state for 'chronological' in Gallery behaviour.json" }}{{
  end }}
  <details class="content block" {{ if eq $expandByDefault "expanded" }}open{{ end }}>
    <summary id="{{ $year | urlize }}">
      {{ $subtitle := printf "All pieces from %s" $year }}
      {{ partial "content-block-header.html" (dict "title" $year "subtitle" $subtitle) }}
    </summary>
    <ol class="content items wide-items" role="list">
      {{ range sort (index $itemsByYear $year) "sortDate" "desc" }}
      <li>
        {{ $subtitle := "" }}
        {{ if .date }}
        {{ $subtitle = (time .date).Format "January 2006" }}
        {{ if .description }}
        {{ $subtitle = printf "%s - %s" $subtitle .description }}
        {{ end }}
        {{ else if .year }}
        {{ $subtitle = int .year }}
        {{ if .description }}
        {{ $subtitle = printf "%d - %s" (int $subtitle) .description }}
        {{ end }}
        {{ else if .description }}
        {{ $subtitle = .description }}
        {{ end }}

        {{ partial "card/composition/gallery-card.html" (dict
        "image" (strings.TrimPrefix "/static" .thumbnail)
        "title" .title
        "subtitle" $subtitle
        "link" (printf "/gallery/item/%s" .key))
        }}
      </li>
      {{ end }}
    </ol>
  </details>
  {{ end }}
</div>
{{ end }}