{{/*
Gallery Curated Layout

Parameters: None
*/}}

{{ define "main" }}
{{ $itemMap := dict }}
{{ range site.Data.gallery.items }}
{{ $itemMap = merge $itemMap (dict .key .) }}
{{ end }}

{{ $seriesMap := dict }}
{{ range site.Data.gallery.series }}
{{ $coverItem := index $itemMap .cover }}
{{ $coverImage := "" }}
{{ if $coverItem }}
{{ $coverImage = strings.TrimPrefix "/static" $coverItem.thumbnail }}
{{ end }}
{{ $seriesLink := printf "/gallery/series/%s" .key }}
{{ $resolvedSeries := merge . (dict "image" $coverImage "link" $seriesLink) }}
{{ $seriesMap = merge $seriesMap (dict .key $resolvedSeries) }}
{{ end }}
<div class="content root wide-root">
  {{ range site.Data.gallery.subjects }}
  {{ $expandByDefault := index site.Data.gallery.behaviour "subjects" }}
  {{ if not $expandByDefault }}{{ errorf "Missing expansion state for 'subjects' in Gallery behaviour.json" }}{{ end }}
  <details class="content block" {{ if eq $expandByDefault "expanded" }}open{{ end }}>
    <summary id="{{ .title | urlize }}">
      {{ partial "content-block-header.html" (dict "title" .title "subtitle" .description) }}
    </summary>
    <ol class="content items wide-items" role="list">
      {{ range .series }}
      {{ $series := index $seriesMap . }}
      <li>
        {{ $subtitle := "" }}

        {{ if $series.year }}
        {{ $subtitle = $series.year }}
        {{ if $series.description }}
        {{ $subtitle = printf "%s · %s" $subtitle $series.description }}
        {{ end }}
        {{ else if $series.description }}
        {{ $subtitle = $series.description }}
        {{ end }}

        {{ partial "card/composition/gallery-card.html" (dict
        "image" $series.image
        "title" $series.title
        "subtitle" $subtitle
        "link" $series.link)
        }}
      </li>
      {{ end }}
    </ol>
  </details>
  {{ end }}
</div>
{{ end }}