{{/*
Gallery Highlights Layout

Parameters: None
*/}}

{{ define "main" }}

{{ $allItemsByKey := partial "gallery/items-by-key.html" . }}

<div class="content root wide-root">
  <div class="content block">
    <ol class="content items wide-items" role="list">
      {{ range site.Data.gallery.highlights }}

      {{ $item := index $allItemsByKey . }}
      {{ if not $item }}
      {{ errorf "Gallery item '%v' (highlight) not found in gallery metadata" . }}
      {{ end }}

      <li>
        {{ $subtitle := partial "gallery/subtitle.html" $item }}

        {{ partial "card/composition/gallery-card.html" (dict
        "image" (strings.TrimPrefix "/static" $item.thumbnail)
        "title" $item.title
        "subtitle" $subtitle
        "link" (printf "/gallery/item/%s" $item.key))
        }}
      </li>
      {{ end }}
    </ol>
  </div>
</div>
{{ end }}