{{/*
Gallery Palettes Layout

Parameters: None
*/}}

{{ define "main" }}

{{ $allItemsByKey := partial "gallery/items-by-key.html" . }}

<div class="content root wide-root">
  {{ range site.Data.gallery.palettes }}

  {{ $expandByDefault := partial "gallery/expansion-state.html" "palettes" }}

  <details class="content block" {{ if eq $expandByDefault "expanded" }}open{{ end }}>
    <summary id="{{ .key | urlize }}">
      {{ partial "content-block-header.html" (dict "title" .title "subtitle" .description) }}
    </summary>
    <ol class="content items wide-items" role="list">
      {{ range .items }}

      {{ $item := index $allItemsByKey . }}
      {{ if not $item }}
      {{ errorf "Gallery item '%v' (palette) not found in gallery metadata" . }}
      {{ end }}

      <li>
        {{ if $item }}
        {{ $subtitle := partial "gallery/subtitle.html" $item }}

        {{ partial "card/composition/gallery-card.html" (dict
        "image" (strings.TrimPrefix "/static" $item.thumbnail)
        "title" $item.title
        "subtitle" $subtitle
        "link" (printf "/gallery/item/%s" $item.key))
        }}
        {{ end }}
      </li>
      {{ end }}
    </ol>
  </details>
  {{ end }}
</div>
{{ end }}