{{/*
Gallery Stylistic Layout

Parameters: None
*/}}
{{ define "main" }}
<div class="content root wide-root">
  {{ range site.Data.gallery.palettes }}
  {{ $expandByDefault := index site.Data.gallery.behaviour "palettes" }}
  {{ if not $expandByDefault }}{{ errorf "Missing expansion state for 'palettes' in Gallery behaviour.json" }}{{ end }}
  <details class="content block" {{ if eq $expandByDefault "expanded" }}open{{ end }}>
    <summary id="{{ .key | urlize }}">
      {{ partial "content-block-header.html" (dict "title" .title "subtitle" .description) }}
    </summary>
    <ol class="content items wide-items" role="list">
      {{ $itemKeysToItems := dict }}
      {{ range site.Data.gallery.items }}
      {{ $itemKeysToItems = merge $itemKeysToItems (dict .key .) }}
      {{ end }}

      {{ range .items }}
      {{ $item := index $itemKeysToItems . }}
      {{ if $item }}
      <li>
        {{ $subtitle := "" }}

        {{ if $item.year }}
        {{ $subtitle = $item.year }}
        {{ if $item.description }}
        {{ $subtitle = printf "%s · %s" $subtitle $item.description }}
        {{ end }}
        {{ else if $item.description }}
        {{ $subtitle = $item.description }}
        {{ end }}

        {{ partial "card/composition/gallery-card.html" (dict
        "image" (strings.TrimPrefix "/static" $item.thumbnail)
        "title" $item.title
        "subtitle" $subtitle
        "link" (printf "/gallery/item/%s" $item.key))
        }}
      </li>
      {{ end }}
      {{ end }}
    </ol>
  </details>
  {{ end }}
</div>
{{ end }}