{{/*
Journal Highlights Layout

Parameters:
* key: "highlights" (implied)
*/}}

{{ define "main" }}

{{ $itemsByKey := partial "journal/items-by-key.html" . }}

<div class="content root wide-root">
  <div class="content block">
    <ol class="content items wide-items" role="list">
      {{ range site.Data.journal.highlights }}

      {{ $item := index $itemsByKey . }}
      {{ if not $item }}
      {{ errorf "Journal item '%v' (highlight) not found in journal metadata" . }}
      {{ end }}

      <li>
        {{ $subtitle := partial "journal/subtitle.html" $item }}
        {{ partial "card/composition/journal-card.html" (dict
        "title" $item.title
        "subtitle" $subtitle
        "link" (printf "/journal/item/%s" $item.key))
        }}
      </li>
      {{ end }}
    </ol>
  </div>
</div>
{{ end }}