.privacy-notice {
  /* Display is toggled between none and flex in privacy.js to hide/show the banner */
  display: none;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-medium);

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: var(--layer-snackbar);

  background: var(--color-background-menu);
  color: var(--color-text-on-surface);
  padding: var(--gap-medium);
  text-align: center;
}

.privacy-notice-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium);
}
