# Continuous Integration.
#
# Two checks are enabled:
# - single-commit-rule: Requires the branch to have exactly one commit.
# - presubmit: Requires /presubmit/presubmit.sh to pass.
#
name: CI
on: [pull_request]
jobs:
  single-commit-rule:
    runs-on: ubuntu-latest
    steps:
      - name: Print Debug Info
        run: |
          echo "GitHub Run ID: ${{ github.run_id }}"
          echo "GitHub Run Number: ${{ github.run_number }}"
          echo "GitHub SHA: ${{ github.sha }}"
          echo "GitHub Ref: ${{ github.ref }}"
          echo "GitHub Actor: ${{ github.actor }}"
          echo "GitHub Event Name: ${{ github.event_name }}"
          echo "Runner OS: ${{ runner.os }}"
        shell: bash
      - name: Check Commit Count
        uses: actions/github-script@v7
        with:
          script: |
            console.log(context.repo.owner)
            console.log(context.repo.repo)
            console.log(context.issue.number)

            const { data: commits } = await github.rest.pulls.listCommits({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
            });

            if (commits.length > 1) {
              core.setFailed('Every PR must have exactly one commit.');
            } else {
              console.log(`This PR has exactly one commit. Single commit check passed.`);
            }
  presubmit:
    runs-on: self-hosted
    steps:
      - name: Print Debug Info
        run: |
          echo "GitHub Run ID: ${{ github.run_id }}"
          echo "GitHub Run Number: ${{ github.run_number }}"
          echo "GitHub SHA: ${{ github.sha }}"
          echo "GitHub Ref: ${{ github.ref }}"
          echo "GitHub Actor: ${{ github.actor }}"
          echo "GitHub Event Name: ${{ github.event_name }}"
          echo "Runner OS: ${{ runner.os }}"
        shell: bash
      - uses: actions/checkout@v4
      - name: Run Presubmit
        run: |
          source first_party/presubmit/presubmit.sh
          run_presubmit
        shell: bash
      - name: Save Presubmit Results
        if: always()
        run: |
          # Move logs to a location that can be accessed after presubmit finishes
          # Useful for debugging, accessing golden files, etc.
          STAGING_DIR="/tmp/ci_logs_${{ github.run_id }}"
          mkdir -p "$STAGING_DIR"
          if [ -d "bazel-testlogs" ]; then
             cp -rL bazel-testlogs "$STAGING_DIR/"
             echo "Staged logs to $STAGING_DIR"
          fi
          echo "Presubmit results saved to $STAGING_DIR"
        shell: bash
