# Starts two checks
# single-commit-rule: checks that the PR has exactly one commit
# presubmit: runs presubmit checks defined in /presubmit/presubmit.sh
name: CI
on: [pull_request]
jobs:
  single-commit-rule:
    runs-on: ubuntu-latest
    steps:
      - name: single-commits-only
        uses: actions/github-script@v7
        with:
          script: |
            console.log(context.repo.owner)
            console.log(context.repo.repo)
            console.log(context.issue.number)

            const { data: commits } = await github.rest.pulls.listCommits({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
            });

            if (commits.length > 1) {
              core.setFailed('PR has multiple commits. Every PR must have exactly one commit.');
            } else {
              console.log(`PR has exactly one commit, check passed.`);
            }
  presubmit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: presubmit
        run: |
          source presubmit/presubmit.sh
          run_presubmit
        shell: bash
