# Continuous Integration.
#
# Two checks are enabled:
# - single-commit-rule: Requires the branch to have exactly one commit.
# - presubmit: Requires /presubmit/presubmit.sh to pass.
#
# Various other tasks run to perform supplementary operations, such as freeing up disk space before
# the tests run, and uploading the test artefacts after test execution.
name: CI
on: [pull_request]
jobs:
  single-commit-rule:
    runs-on: ubuntu-latest
    steps:
      - name: Check Commit Count
        uses: actions/github-script@v7
        with:
          script: |
            console.log(context.repo.owner)
            console.log(context.repo.repo)
            console.log(context.issue.number)

            const { data: commits } = await github.rest.pulls.listCommits({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
            });

            if (commits.length > 1) {
              core.setFailed('PR has multiple commits. Every PR must have exactly one commit.');
            } else {
              console.log(`PR has exactly one commit, check passed.`);
            }
  presubmit:
    runs-on: ubuntu-latest
    steps:
      - name: Delete Bloatware
        run: |
          echo "Disk space before cleanup:"
          df -h
          echo "Disk disk cleanup starting."

          sudo docker image prune --all --force
          sudo docker builder prune -a

          sudo rm -rf /opt/az
          sudo rm -rf /opt/az/azcliextensions
          sudo rm -rf /opt/az/lib
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/google
          sudo rm -rf /opt/google/chrome
          sudo rm -rf /opt/hostedtoolcache/Ruby
          sudo rm -rf /opt/microsoft
          sudo rm -rf /opt/microsoft/msedge
          sudo rm -rf /opt/microsoft/powershell
          sudo rm -rf /opt/pipx
          sudo rm -rf /opt/pipx/venvs
          sudo rm -rf /usr/lib/firefox
          sudo rm -rf /usr/lib/google-cloud-sdk
          sudo rm -rf /usr/lib/grub
          sudo rm -rf /usr/lib/linux-azure-6.11-tools-6.11.0-1018
          sudo rm -rf /usr/lib/php
          sudo rm -rf /usr/lib/postgresql
          sudo rm -rf /usr/lib/ruby
          sudo rm -rf /usr/libexec/docker
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/local/aws-cli
          sudo rm -rf /usr/local/aws-sam-cli
          sudo rm -rf /usr/local/julia*
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/share/apache-maven-3.9.11
          sudo rm -rf /usr/share/az_*
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/fonts
          sudo rm -rf /usr/share/gradle-*
          sudo rm -rf /usr/share/i18n
          sudo rm -rf /usr/share/icons
          sudo rm -rf /usr/share/ieee-data
          sudo rm -rf /usr/share/java
          sudo rm -rf /usr/share/miniconda
          sudo rm -rf /usr/share/mysql
          sudo rm -rf /usr/share/perl
          sudo rm -rf /usr/share/vim
          sudo rm -rf /usr/src/linux-headers-6.11.0-1018-azure

          echo "Disk space cleanup complete."
          echo "Disk space after cleanup:"
          df -h
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install Playwright
        run: |
          npm install @playwright/test
          npx playwright@1.49.0 install --with-deps
      - name: Restore Bazel Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/bazel-disk-cache
            ~/.cache/bazel-repo-cache
          key: bazel-cache-${{ github.run_id }}
          restore-keys: |
            bazel-cache-
      - uses: actions/checkout@v4
      - name: Run Presubmit
        run: |
          source first_party/presubmit/presubmit.sh
          run_presubmit
        shell: bash
      - name: Upload Bazel Test Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: bazel-test-logs
          path: |
            bazel-testlogs/**/*.png
      - name: Save Bazel Cache
        uses: actions/cache/save@v4
        if: always()
        with:
          path: |
            ~/.cache/bazel-disk-cache
            ~/.cache/bazel-repo-cache
          key: bazel-cache-${{ github.run_id }}
