name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
      # Checkout repository as working directory.
      - uses: actions/checkout@v2

      # Defer to presubmits.
      - name: run_presubmits
        run: bash presubmit/manifest.sh
